<h1>Directives</h1>

<div class="Directives structured-directives">
    <h2> Structured Directives</h2><br>
    <h3>This is ngFor Directive</h3>

    <div class="ngFor-directive">

        <div class="list">
            <h4>List of Movies and Director</h4>
            <!-- <ul>
            <li *ngFor="let movie of movies">
                {{movie}}
            </li>
        </ul> -->

            <ul>
                <li *ngFor="let Directors of movieDirector; ">
                    {{Directors.movie}} - {{Directors.director}}
                </li>
            </ul>

        </div>


        <div class="movies-table">
            <h2 style="color: black;"> Using Table</h2>
            <table>
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Movies</th>
                        <th>Director</th>
                        <th>Hero</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [ngClass]='{"bg-warning":f,"bg-info":l}'
                        *ngFor="let movieDetails of movieDirector; let i=index, let o=odd,let e=even; let f=first,let l=last;">
                        <td>{{i+1}}</td>
                        <td>{{movieDetails.movie}}</td>
                        <td>{{movieDetails.director}}</td>
                        <td>{{movieDetails.hero}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div><br><br>

    <div class="ngSwitch-directory">
        <h3>This is ngSwitch Directive</h3>

        <input type="text" [(ngModel)]="num">
        <div [ngSwitch]="num">
            <div *ngSwitchCase="1">One</div>
            <div *ngSwitchCase="2">Two</div>
            <div *ngSwitchCase="3">Three</div>
            <div *ngSwitchCase="4">Four</div>
            <div *ngSwitchCase="5">Five</div>
            <div *ngSwitchDefault>Enter the Number 1 to 5</div>
        </div> <br>


        <h3 style="color: black;">Another Example</h3>


        Select the colour : <select [(ngModel)]="selectedOption">
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
        </select>
        <div [ngSwitch]="selectedOption">
            <div *ngSwitchCase="'Red'" style="color:red">You selected <b>Red</b> Colour</div>
            <div *ngSwitchCase="'Green'" style="color:green">You selected <b>Green</b> colour</div>
            <div *ngSwitchCase="'Blue'" style="color:blue">You selected <b>Blue</b> colour</div>
        </div>

    </div><br><br>

    <div class="ngIf-directory">
        <h3>This is ngIf Directive</h3>

        <label for="checkbox">Checked </label>
        <input type="checkbox" [(ngModel)]="showMe">
        <!-- <p *ngIf="showMe; else elseBlock">It is Ticked</p> --> <!--these twos are also valid-->
        <!-- <p *ngIf="!showMe">It is Unticked</p> -->

        <!--This is Else Block-->

        <div class="if-else directory" *ngIf="showMe; then thenBlock; else elseBlock">

        </div>
        <ng-template #thenBlock>
            <p>It is Ticked</p>
        </ng-template>
        <ng-template #elseBlock>
            <p>It is Unticked</p>
        </ng-template>

        <div class="example">
            <h4>Items</h4>
            <button (click)="showItems=!showItems">
                {{showItems ? 'Hide Items' : 'Show Items'}}
            </button>
            <ul *ngIf="showItems">
                <li *ngFor="let item of items">
                    {{item}}
                </li>
            </ul>
            <p *ngIf="!showItems">No Items to display, Click the Button to show items</p>
        </div>
    </div><br>

    <div class="Attribute directive">

        <h2>Attribute Directive</h2>
        <h3>This is ngClass Directive</h3>

        <!--  <div [ngClass]="['primary:'enableColor','fonts']"></div>           multiple styles in array! -->

        <input type="checkbox" [(ngModel)]="enableColor"> Change Color
        <input type="checkbox" [(ngModel)]="changeFont"> Change font
        <input type="checkbox" [(ngModel)]="enableItalic"> Italic

        <div [ngClass]="{          
            'primary':enableColor,
            'fonts':changeFont,          
            'italics':enableItalic
        }">
            <p>To learn Angular</p>
        </div>


        <input type="checkbox" [(ngModel)]="isChecked">Background Color
        <div [ngClass]="{
            'background-checked':isChecked,
            'background-unchecked':!isChecked

        }">
            <p *ngIf="!isChecked">Background Color Changes Here</p>
            <p *ngIf="isChecked">Background Color Changed here </p>

        </div><br>


        <div class="ng-style Directive">
            <h3>This is ngStyle Directive </h3>

            <!-- <div [ngStyle]="{'color':status=='Failure' ? 'red' : 'purple'}">
                <h5>Sample Text</h5>
            </div> -->

            <div [ngStyle]="{
                'color':'purple',
                'font-size':'20px',
                'font-weight':'bold',
            }">
                <p>Sample Text</p>
            </div>
            <input type="text" [(ngModel)]="inputColor" placeholder="color name or color code">
            <div [ngStyle]="{'color':inputColor}">
                <h4>This is Customized Input Color</h4>
            </div>


            <div>
                <label for="shadowSlider">Box Shadow Intensity : </label>
                <input type="range" id="shadowSlider" min="0" max="50" [(ngModel)]="shadowIntensity">

                <label for="borderRadiusSlider">Border Radius : </label>
                <input type="range" id="borderRadiusSlider" min="0" max="50" [(ngModel)]="borderRadius">
            </div>

            <div [ngStyle]="{
                'box-shadow':'0 0'+shadowIntensity+'px rgba(0,0,0,0.5)',
                'border-radius':borderRadius+'px',
                'width':'200px',
                'height':'100px',
                'background-color':'lightgray',
                'color':'purple',
                'display':'flex',
                'justify-content':'center',
                'align-items':'center'
            }">
                This is the box
            </div>

        </div><br>

        <div class="ng-Custom-Directive">

            <div appCustomDirective>
                <p >Hover over this text to change its background Color!</p>  <!--we also use the custom directive in p tag also -->
            </div>

            <div appCard>
                <h4 >Card title</h4>
                <p >This is some content inside the card</p>
            </div><br><br>

        </div>

